.vs/
.vscode/
.idea/
.godot/
/android/

source/
source - Copy/

builds/

work/*
!/work/design/
!/work/publish/

*.TMP
*.tmp
*~*
*.af~lock~*
*.~lock.text.ods#
*.blend1
*.blend2
*.blend3
*.blend5
*.blend6
*.blend7
*.blend8
*.blend9